<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8"/>
    <title id="title">Guess the Number Game</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/cssandjs/home.css}">
</head>
<body>
<div class="page">
    <div class="container">
        <h1 id="welcome-message">Welcome to the Guess the Number Game</h1>
        <h2 class="button"><a id="play-link">Click to Play</a></h2>

        <footer id="footerId">
            <p>Created by goes here</p>
        </footer>
    </div>
</div>
</body>
</html>
